* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background: #f2eee8;
}
header {
	z-index: 1;
	width: 100%;
	background: white;
	height: 76px;
	position: fixed;
	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 12px;
		ul {
			order: 1;
			li {
				display: inline-block;
				border: 1px solid #eee;
				border-radius: 100px;
				width: 40px;
				height: 40px;
				text-align: center;
				margin-left: 8px;
				margin-right: 8px;
				span {
					display: inline-block;
					padding-top: 10px;
				}
			}
			li:first-child {
				background: #81aad3;
				color: white;
			}
		}
		a {
			color: #81aad3;
			display: inline-block;
			order: 2;
		}
		div {
			order: 3;
			display: inline-block;
				img {
				display: inline-block;
				border: 1px solid #fff;
				border-radius: 100px;
				width: 36px;
				height: 36px;
				}
				.search {
					position: relative;
					display: inline-block;
					input {
						width: 100%;
						height: 36px;
						width: 206px;
						border-radius: 20px;
					}
					span {
						position: absolute;
						top: 28%;
						right: 10px;
					}
				}
		}
	}
}

main { 
	position: relative;
	top: 76px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	.left-side {
		flex-basis: 290px;
		background: #81a8ca;
		.person-introduce {
			padding-left: 5px;
			padding-right: 5px;
			text-align: center;
			color: white;
			img {
				display: inline-block;
				margin-top: 60px;
				border: 1px solid #f2eee8;
				border-radius: 100px;
				width: 70px;
				height: 70px;
			}
			h4 {
				margin-bottom: 16px;
				margin-top: 10px;
			}
			p {
				margin-bottom: 20px;
			}
			a {
				display: inline-block;
				border: 1px solid #f2eee8;
				border-radius: 20px;
				color: white;
				background-color: #6d94b5;
				width: 140px;
				height: 30px;
				padding-top: 10px;
				margin-bottom: 40px;
			}
		}
		.follower {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			img {
				width: 33%;
				height: 33%;
			}
		}
		.activities {
			margin-top: 10px;
			h4 {
				margin-bottom: 10px;
				color: white;
				font-size: 20px;
			}
			ul {
				text-align: left;
				margin-left: 15px;
				li {
					margin: 5px auto;
					font-size: 12px;
					color: #6d94b5;
					a {
						color: white;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.main-side {
		flex-basis: 50%;
		nav {
			margin-top: 40px;
			background: white;
			height: 86px;
			margin-bottom: 40px;
			ul {
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				text-align: center;
				height: 100%;
				li {
					height: 100%;
					display: inline-block;
					width: 20%;
					height: 100%;
					h4 {
						color: #ccc;
						padding-top: 30px;
					}
					p {
						color: black;
						font-weight: bold;
						font-size: 16px;
					}
				}
				li:first-child {
					border-bottom: 3px solid #81aad3;
				}
			}
		}
		.main-articles {
			background: white;
			article {
				border-bottom: 1px solid #ccc;
				padding-top: 20px;
				padding-bottom: 20px;
				img {
					margin-left: 10px;
					margin-right: 10px;
					display: inline-block;
					border: 1px solid #fff;
					border-radius: 100px;
					width: 40px;
					height: 40px;
					float: left;
				}
				.article-item {
					display: inline-block;
					width: 84%;
					h4 {
						margin-bottom: 10px;
						span {
							color: #ccc;
						}
					}
					p {
						color: #8c8c8c;
					}
					ul {
						margin-top: 20px;
						li {
							display: inline-block;
							margin-right: 10px;
							span {
								color: #8c8c8c;
							}
						}
					}
					video {
						width: 100%;
					}
				}
			}
		}
	}
	.right-side {
		flex-basis: 290px;
		background: white;
		.trends {
			margin-bottom: 40px;
			margin-top: 40px;
			h2 {
				font-size: 16px;
				margin-bottom: 16px;
				margin-left: 30px;
			}
			ul {
				text-align: center;
				li {
					margin-bottom: 8px;
					a {
						color: #81aad3;
						font-size: 16px;
						text-decoration: underline;
					}
				}
			}
		}
		.left-follower {
			margin-left: 20px;
			margin-right: 16px;
			.follow-head {
				display: flex;
				justify-content: space-between;
			}
				h3 {
					display: inline-block;
				}
				a {
					color: #81aad3;
					display: inline-block;
				}
			ul {
				margin-top: 30px;
				li {
					display: flex;
					margin-top: 20px;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					img {
						margin-left: 10px;
						margin-right: 10px;
						display: inline-block;
						border: 1px solid #fff;
						border-radius: 100px;
						width: 40px;
						height: 40px;
					}
					div {
						display: inline-block;
						margin-left: -54px;
					}
					a {
						display: inline-block;
						border: 1px solid #ccc;	
						width: 22px;
						height: 22px;
						text-align: center;
						margin-right: 10px;
					  }
				}
			}
		}
	}

}


@media (min-width: 821px) and (max-width: 1200px) {
	main {
		position: relative;
		display: block;
		overflow: hidden;
		.left-side {
			display: inline-block;
			width: 260px;
			.activities {
				margin-bottom: 20px;
			}
		}
		.main-side {
			float: right;
			display: inline-block;
			width: 66%;
		}
		.right-side {
			display: inline-block;
			width: 260px;
			float: left;
			.trends {
				display: none;
			}
			.left-follower {
				margin-bottom: 20px;
				margin-left: 0px;
				margin-right: 4px;
				.follow-head {
					margin-top: 30px;
				}
			}
		}
	}
}

@media (max-width: 820px) {
	header {
		nav {
			ul {
				li {
					display: none;
				}
				li:first-child {
					display: inline-block;
				}
			}
			a {
				font-size: 30px;
			}
			.nav-right {
				.search {
					display: none;
				}
			}
		}
	}

	main {
		display: block;
		top: 120px;
		.left-side {
			display: none;
		}
		.right-side {
			display: none;
		}
		.main-side {
			display: block;
			width: 100%;
			nav {
				margin-top: 0;
				display: block;
				height: auto;
				ul {
					li {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}



